In [ ]:
Table: Movies
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| movie_id      | int     |
| title         | varchar |
+---------------+---------+
movie_id is the primary key for this table.
title is the name of the movie.

Table: Users
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| user_id       | int     |
| name          | varchar |
+---------------+---------+
user_id is the primary key for this table.

Table: Movie_Rating
+---------------+---------+
| Column Name   | Type    |
+---------------+---------+
| movie_id      | int     |
| user_id       | int     |
| rating        | int     |
| created_at    | date    |
+---------------+---------+
(movie_id, user_id) is the primary key for this table.
This table contains the rating of a movie by a user in their review.
created_at is the user's review date. 

Write the following SQL query:
1.Find the name of the user who has rated the greatest number of the movies.
In case of a tie, return lexicographically smaller user name.

2.Find the movie name with the highest average rating as of Feb 2020.
In case of a tie, return lexicographically smaller movie name..
Query is returned in 2 rows, the query result format is in the folowing example:

Movie table:
+-------------+--------------+
| movie_id    |  title       |
+-------------+--------------+
| 1           | Avengers     |
| 2           | Frozen 2     |
| 3           | Joker        |
+-------------+--------------+

Users table:
+-------------+--------------+
| user_id     |  name        |
+-------------+--------------+
| 1           | Daniel       |
| 2           | Monica       |
| 3           | Maria        |
| 4           | James        |
+-------------+--------------+

Movie_Rating table:
+-------------+--------------+--------------+-------------+
| movie_id    | user_id      | rating       | created_at  |
+-------------+--------------+--------------+-------------+
| 1           | 1            | 3            | 2020-01-12  |
| 1           | 2            | 4            | 2020-02-11  |
| 1           | 3            | 2            | 2020-02-12  |
| 1           | 4            | 1            | 2020-01-01  |
| 2           | 1            | 5            | 2020-02-17  | 
| 2           | 2            | 2            | 2020-02-01  | 
| 2           | 3            | 2            | 2020-03-01  |
| 3           | 1            | 3            | 2020-02-22  | 
| 3           | 2            | 4            | 2020-02-25  | 
+-------------+--------------+--------------+-------------+

Result table:
+--------------+
| results      |
+--------------+
| Daniel       |
| Frozen 2     |
+--------------+

Daniel and Maria have rated 3 movies ("Avengers", "Frozen 2" and "Joker") but Daniel is smaller lexicographically.
Frozen 2 and Joker have a rating average of 3.5 in February but Frozen 2 is smaller lexicographically.

In [ ]:
1.Find the name of the user who has rated the greatest number of the movies.
In case of a tie, return lexicographically smaller user name.


select u.name as results from
Users u
inner join Movie_Rating m
on u.user_id=m.user_id
group by m.user_id
order by count(1) desc, name #because both name and movie_id are primary keys and so the names wont have the same values
limit 1

unionall


select m1.title as results from
Movie m1 
inner join Movie_Rating m2
where month(m2.created_at)=2 and year(m2.created_at)=2020 #not sure this line works otherwise the same solution as below
group by m1.movie_id
order by sum(m2.rating)/count(m2.rating) desc, m1.title
limit 1

In [ ]:
Submission solution

(select name as results
from Movie_Rating inner join Users
on Movie_Rating.user_id = Users.user_id
group by Movie_Rating.user_id
order by count(1) desc, name
limit 1)

union all

(select title as results
from Movie_Rating inner join Movies
on Movie_Rating.movie_id = Movies.movie_id
where left(created_at, 7) = "2020-02" #great idea
group by Movie_Rating.movie_id
order by avg(rating) desc, title
limit 1
)